<!DOCTYPE html>
<!-- This is the main page of the game, where we can play the hangman game and see the attempts,the right letters or
wrong letters, the hangman and the hidden word, with an input to  choose a letter//-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="public/style.css">
</head>
<body>
<div class="full-page">
    <div class="left-page">
        <div class="image">
            {{$attempts := .Attempts}}
            <img src="public/image/{{$attempts}}.png" alt="hangman">
        </div>
        <div class="game">
            <header>
                <h1>Hangman Web</h1>
            </header>
            <div class="full-body">
                <div class="letter">
                    <div id="right">
                        {{$right := .Right}}
                        <h2>Right Letters :</h2>
                        <h3>{{$right}}</h3>
                    </div>
                    <div id="wrong">
                        {{$wrong := .Wrong}}
                        <h2>Wrong Letters :</h2>
                        <h3>{{$wrong}}</h3>
                    </div>
                </div>
                <div id="word">
                    {{$current := .CurrentWord}}
                    <h3>{{$attempts}}</h3>
                    <h1>{{$current}}</h1>
                    <form method="POST" action="/hangman">
                        <label>Choose a letter <input name="letter" type="text" value="" autocomplete="off" autofocus/> </label>
                        <button type="submit"> Confirm</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="score">
        <h1>
            Scoreboard
        </h1>
        {{$score:= .score}}
        <ul>
           <li>
               {{$score}}
           </li>
        </ul>
    </div>
</div>

</body>
</html>