<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="public/style.css">
</head>
<body>
<div class="full-page">
    <header>
        <h1>Hangman Web</h1>
    </header>
    <div id="right">
        {{$right := .Right}}
        <h2>Right Letters :</h2>
        <h3>{{$right}}</h3>
    </div>
    <div id="wrong">
        {{$wrong := .Wrong}}
        <h2>Wrong Letters :</h2>
        <h3>{{$wrong}}</h3>
    </div>
    <div id="word">
        {{$attempts := .Attempts}}
        {{$target := .TargetWord}}
        {{$current := .CurrentWord}}
        <p>{{$attempts}}</p>
        <p>{{$target}}</p>
        <p>{{$current}}</p>
    </div>
    <form method="POST" action="/hangman">
        <label>Choose a letter <input name="letter" type="text" value=""/> </label>
        <button type="submit"> Confirm</button>
    </form>
</div>

</body>
</html>