<!DOCTYPE html>
<!-- this template will redirect the player on a page that say to choose a lowercase letter if he didn't choosed one,
with a button to return to the game//-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fatale Errors</title>
    <link rel="stylesheet" href="../public/errors-style.css">
</head>
<body>
    <h1> Please, choose a lowercase letter </h1>
    <a href="http://localhost:8000/">Return to the game</a>
</body>