<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fatale Errors</title>
    <link rel="stylesheet" href="../public/errors-style.css">
</head>
<body>
    <h1> Please, choose a lowercase letter </h1>
    <a href="http://localhost:8000/">Return to the game</a>
</body>