body {
    background: linear-gradient(to right, #4ca1af, #c4e0e5);
}

img {
    width: 100%;
}

.image {
    width: 33%;
}

.full-page {
    display: flex;
}

.left-page {
    display: flex;
    width: 66%;
}

h1 {
    text-align: center;
    color: black;
    padding: 15px;
    margin: 5px;
}

.full-body {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

.score {
    border: 2px black solid;
    width: 33%;
}

#victory {
    text-align: center;
}

.game {
    width: 66%;
}

.letter {
    width:100%;
    display: flex;
    justify-content: center;
}

#right {
    border: 2px black solid;
    margin-right: 5px;
    text-align: center;
    float:left;
    width:100%;
}

#word {
    border: 2px black solid;
    text-align: center;
    align-items: center;
    padding: 15px;
    margin-top: 5px;
}

#word h1 {
    letter-spacing: 5px;
}

#wrong {
    border: 2px black solid;
    width: 100%;
    text-align: center;
}