<!DOCTYPE html>
<!-- When the player win, this template will redirect him on a page that say "You won !"
 with a button to return to the game //-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Win !</title>
    <link rel="stylesheet" href="../public/errors-style.css">
</head>
<body>
<h1> You won ! </h1>
<a href="http://localhost:8000/">Return to the game</a>
</body>